body{
	background-color: #ccc;
}
#containerAlbum{
	width: 100%
}
.header{
	background-color: #541414;
	height: 150px;
}
h1{
	font-size: 100px;
	color: white;
	margin-top: 0;
	text-align: center;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.add{
	width: 100px;
	height: 30px;
	background-color: #7E8194;
	color: #221D1F;
	border-radius: 5px;
	font-size: 16px;
}
.add:hover{
	background-color: #221D1F;;
	color: #7E8194;
}
 img{
	width: 400px;
	height: 300px;
}
#page1{
	
}
.album{
	width: 400px;
    height: 400px;
    display: inline-block;
    background-color: #914949;
    border: 2px solid white;
    margin: 60px 10px 10px 98px;
	box-shadow: 10px 10px 5px #bbb;
	border-radius: 5px;
}
h3{
	text-align: center;
	font-size: 30px;
	color: #541414;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	
}
h4{
	text-align: center;
	font-size: 30px;
	color: white;
	margin-top: 15px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
a{
	text-decoration: none;
}
#gallery_layout{
	display: flex;
}

.coloumn{
	width: 350px;
	background-color: #360505;
}
.pictures{
	
	width: 100%;
}
.header_pictures{
	height: 150px;
	width:100%;
	background-color: #541414;
	text-align: center;
	font-size: 100px;
}

.button{
	display: inline-block;
	justify-content: space-around;
	width: 200px;
	height: 90px;
	background-color: #ccc;
	margin: 70px 0 0 40px;
	border-radius: 5px;
	border: 2px solid white;
}
.photos{
	display: inline-block;
    width: 330px;
    height: 380px;
    background-color: #570303;
    margin: 70px 0 0 100px;
    box-shadow: 10px 10px 5px #bbb;
	border-radius: 5px;
	border: 2px solid white;
}
.pics{
	width: 330px;
	height: 300px;
}
.picture{
	width: 1000px;
	height: 600px;
	margin:-50px 0 0 316px;
	border-radius: 5px;
}
.image{

	margin: auto;
}
.back > button{
	width: 100px;
	height: 50px;
	background-color: #513535;
	color: #240505;
	border-radius: 5px;
	outline: none;
}
.back > button:hover{
	background-color: #240505;
	color: #513535;
}
.create_album{
	width: 270px;
    height: 250px;
	margin: auto;
	background-color: #735D5D;
	display: block;
	justify-content: space-around;
	border-radius: 5px;
}
.create_album > p{
	font-family: "Trebuchet MS", Helvetica, sans-serif; 
	font-size: 30px;
	color: white;
	margin-left: 30px;
	border-radius: 5px;
}
#name{
	width: 150px;
	height: 30px;
	border-radius: 5px;
	margin: 0 0 20px 30px;
	font-family: "Trebuchet MS", Helvetica, sans-serif; 
	font-size: 22px;
}
#coverphoto{
	width: 200px;
	height: 30px;
	border-radius: 5px;
	margin-bottom: 20px;
	margin: 0 0 20px 30px;
	font-family: "Trebuchet MS", Helvetica, sans-serif; 
	font-size: 22px;
}
#add_album{
	width: 100px;
	height: 30px;
	background-color: #4E515E;
	color: #240505;
	border-radius: 5px;
	margin: 0 0 20px 30px;
	font-family: "Trebuchet MS", Helvetica, sans-serif; 
	font-size: 17px;
}
p{
	margin-top: 0;
	padding-top: 10px;
}
.create_photo{
	width: 270px;
    height: 250px;
	margin: auto;
	background-color: #735D5D;
	display: block;
	justify-content: space-around;
	border-radius: 5px;	
}
.create_photo > p{
	font-family: "Trebuchet MS", Helvetica, sans-serif; 
	font-size: 30px;
	color: white;
	margin-left: 30px;
	border-radius: 5px;
}
#name{
	width: 150px;
	height: 30px;
	border-radius: 5px;
	margin: 0 0 20px 30px;
	font-family: "Trebuchet MS", Helvetica, sans-serif; 
	font-size: 22px;
}
#url{
	width: 200px;
	height: 30px;
	border-radius: 5px;
	margin-bottom: 20px;
	margin: 0 0 20px 30px;
	font-family: "Trebuchet MS", Helvetica, sans-serif; 
	font-size: 22px;
}
#add_photo{
	width: 100px;
	height: 30px;
	background-color: #4E515E;
	color: #240505;
	border-radius: 5px;
	margin: 0 0 20px 30px;
	font-family: "Trebuchet MS", Helvetica, sans-serif; 
	font-size: 18px;	
}

